<link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
<style>
#hdr{
	float:right;
}
.list{
	margin-left:10px;
	margin-top:15px;
	font-size:22px;
	font-family:'Wendy One', verdana;
	color:white;
	text-shadow: 4px 4px 4px #000;
	line-height:30px;
	letter-spacing:2px
}

body{
	background-image:url("/images/bg-1.png");
	background-repeat:no-repeat;
	margin-top:0px;
	margin-left:0px;
	width:760px;
 
}
#logo{
	margin-left:10px;
	float:left;
	margin-top:15px;
}
#profile_image{
	float:left;
	margin-left:15px;
	margin-top:15px;
	margin-right:10px;
	margin-bottom:10px;
}

</style>



<div id="fb-root"></div>

<div>

</div>
<div id="hdr">
 
	<img id="logo" src="/images/wordsmash_logo_10.png" />
</div>

<div class="list">
You have been invited to the world of WordSmash!
</div>

<div class="list">
WordSmash is the new Android crossword game that brings new life to head-to-head crossword fun:
</div>

<div class="list">
In a cool twist on tradition, letters can be played on top of previously played letters.  
This brings new strategies to bear as your game skills intensify.
</div>

<div class="list">
You can play games with UP TO 4 people!!  While you can certainly have the 1-on-1 experience of other crossword games, now you can 
play games with 2 or 3 opponents as well.  It's all up to you!
</div>

<div class="list">
All of this and more is wrapped in a cool new user interface that gets you to the action quickly.  Come join the fun!
</div>

<div class="list">
To get started, just go to the Google Play store and download WordSmash by RiotApps.  
Connect with Facebook and you'll already have a game waiting for you.  Don't want to connect with Facebook?  
No problem.  Just connect with your email address. 
</div>

<div class="list">
Don't have an Android device?  iPhone and iPad versions are in the pipeline as well. 
</div>

<div class="list">
Welcome to WordSmash!  
</div>

<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
FB.init({
appId : '314938401925933',
status : true, // check login status
cookie : true, // enable cookies to allow the server to access the session
xfbml : true // parse XFBML
});

window.fbAsyncInit = function() {
FB.Canvas.setSize();
}

// Do things that will sometimes call sizeChangeCallback()
function sizeChangeCallback() {
FB.Canvas.setSize();
}

</script>


