<style>
#hdr{
	background-image:url("/images/bg6.png");
	height:147px;
	width:100%;	
}
.list{
	margin-top:15px;
	font-size:20px;
	font-family:tahoma, verdana;
}

body{
	margin-top:0px;
	margin-left:0px;
}
.logo{

}
</style>
<div id="hdr">
	<img id="logo" src="/images/wordsmash_logo_250.png" />
</div>

<div>
You have been invited to the world of WordSmash!
</div>
<div>
WordSmash is the new Android crossword game that brings new life to head-to-head crossword fun:
</div>

<div class="list">
In a cool twist on tradition, letters can be played on top of previously played letters.  
This brings new strategies to bear as your game skills intensify.
</div>

<div class="list">
You can play games with UP TO 4 people!!  While you can certainly have the 1-on-1 experience of other crossword games, now you can 
play games with 2 or 3 opponents as well.  It's all up to you!
</div>

<div class="list">
Along with the normal list of letters you get in every game, 5 random letters are assigned per game (3 consonants and 2 vowels).
This means, for example, that spelling "pizza" (and having every letter count as part of the scoring) is a real possibility.  
And this means that determining which letters are left in the hopper is more challenging as well.
</div>

<div class="list">
In-game chat let's you taunt your opponents at will.  And you can always see a list of all of the words that were played in the game.
</div>

<div class="list">
As you win, level up with badges that show your opponents how lethal your WordSmash skills are.
</div>
<div class="list">
All of this and more is wrapped in a cool new user interface that gets you to the action quickly.  Come join the fun!
</div>

<div class="list">
To get started just go to the Google Play store and download WordSmash by RiotApps.  
Connect with Facebook and you'll already have a game waiting for you.  Don't want to connect with Facebook?  
No problem.  Just connect with your email address. 
</div>

<div class="list">
If you connect via Facebook, your Facebook profile image will be visible to your opponents.  
If you connect with your email address, we will show your opponents your 
<a href="http://www.gravatar.com" target="_blank">gravatar</a>, the cool global profile image provided 
by the WordPress crew.
</div>


<div class="list">
Don't have an Android device?  iPhone and iPad versions are in the pipeline as well. 
</div>

<div class="list">
Welcome to WordSmash!  
</div>



