<link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
<style>
#hdr{
	 
}
.list{
	text-align:right;
	margin-top:25px;
	font-size:32px;
	/*font-family: 'Inder', sans-serif;*/
	font-family:'Lilita One', verdana;
	color:white;
	text-shadow: 4px 4px 4px #000;
	line-height:30px;
	letter-spacing:2px;
	margin-right:10px;
	width:450px;
}

.content{
	float:right;
	padding-right:10px;
}

body{
	background-image:url("/images/bg_fb.png");
	background-repeat:no-repeat;
	margin-top:0px;
	margin-left:0px;
	width:760px;
	padding-left:10px;
 
}
#logo{
	 margin-right:15px;
	 float:right;
	margin-top:15px;
}
#profile_image{
	float:left;
	margin-left:15px;
	margin-top:15px;
	margin-right:10px;
	margin-bottom:10px;
}

</style>



<div id="fb-root"></div>

<div>

</div>
<div id="hdr">
 
	<img id="logo" src="/images/wordsmash_logo_10.png" />
</div>

<div class="content">
<div class="list">
You have been invited to WordSmash for Android.
</div>
 
<div class="list">
Head-to-head crossword addiction.
</div>

<div class="list">
Up to 4 players.
</div>

<div class="list">
Play letters on top of letters.
</div>

<div class="list">
Win totals. Badges.  Chat.  
</div>
 
<div class="list">
To get started, just go to the Google Play store and download WordSmash by RiotApps.  
Connect with Facebook or by email address. 
</div>

<div class="list">
Don't have an Android device?  iPhone and iPad versions are in the pipeline as well. 
</div>

<div class="list">
Welcome to WordSmash!  
</div>
</div>

<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
FB.init({
appId : '314938401925933',
status : true, // check login status
cookie : true, // enable cookies to allow the server to access the session
xfbml : true // parse XFBML
});

window.fbAsyncInit = function() {
FB.Canvas.setSize();
}

// Do things that will sometimes call sizeChangeCallback()
function sizeChangeCallback() {
FB.Canvas.setSize();
}

</script>


