<h1>Listing games</h1>

<table>
  <tr>
    <th>Id</th>
    <th>LettersLeft</th>
    <th>Email</th>
    <th>Num Wins</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.test  %></td>
	    <td>c<%= game.letters.to_s  %></td>
  </tr>
<% end %>
</table>

<br />
