<h1>Rest Test Harness</h1>

Rest Url:<br />
<input type="input" style="width:400px;" id="tUrl" />

&nbsp;
<select id="ddVerb">
	<option value="GET">GET</option>
	<option value="POST">CREATE</option>
	<option value="PUT">UPDATE</option>
	<option value="DELETE">DELETE</option>
</select>
&nbsp;<button id="bGo">GO</button>
<br />
<br />

Post Data:<br />
<textarea style="width:600px;height:275px;" id="tPost" >
</textarea>
<br />
<br />

Time to respond:&nbsp;<span id="sTD"></span>
<br />

Return Status Code:&nbsp;<span id="sRC"></span>
<br />
Return Data:<br />
<textarea style="width:1200px;height:325px;" id="tReturn" />
</textarea>
 

<script>
var start;
$(document).ready(function() {
  $('#bGo').click(function() {
    start = new Date()
	$('#tReturn').text(""); 
	var url = $("#tUrl").val() + ".json"
	switch ($("#ddVerb").val())
	{
	case "GET":
		//$.get(url, function(data) {
		//	$('#tReturn').text(JSON.stringify(data, null, "\t"));
		//});
		$.ajax({
			url: url,
			type: 'GET',
			contentType: 'application/json; charset=utf-8',
			success: function (data, textStatus, xhr) {
				$('#tReturn').text(JSON.stringify(data, null, "\t"));
				$("#sRC").text(xhr.status);
			},
			error:function (xhr, ajaxOptions, thrownError){
				$("#sRC").text(xhr.status); 
			}
		});
		break;
	case "DELETE":
		var json = $("#tPost").val();
		$.ajax({
			url: url,
			type: 'POST',
			dataType: 'json',
			data: json,
			contentType: 'application/json; charset=utf-8',
			beforeSend: function(xhr){
				xhr.setRequestHeader("X-Http-Method-Override","delete");
			},
			success: function (data, textStatus, xhr) {
				$('#tReturn').text(JSON.stringify(data, null, "\t"));
				$("#sRC").text(xhr.status);
			},
			error:function (xhr, ajaxOptions, thrownError){
				$("#sRC").text(xhr.status); 
			} 
		});
		break;
	case "POST":
		//$.post($("#tUrl").val(),$("#tPost").val(), function(data) {
	//		$('#tReturn').text(JSON.stringify(data, null, "\t"));
		//});
		//debugger;
		// var json = JSON.stringify($("#tPost").val());
		var json = $("#tPost").val();
		$.ajax({
			url: url,
			type: 'POST',
			dataType: 'json',
			data: json,
			contentType: 'application/json; charset=utf-8',
			success: function (data, textStatus, xhr) {
				$('#tReturn').text(JSON.stringify(data, null, "\t"));
				$("#sRC").text(xhr.status);
				var d = new Date();
				$("#sTD").text(d.getTime() - start.getTime());
			},
			error:function (xhr, ajaxOptions, thrownError){
				$("#sRC").text(xhr.status); 
			}
		});
		break;
	case "PUT":
		var json = $("#tPost").val();
		$.ajax({
			url: url,
			type: 'POST',
			dataType: 'json',
			data: json,
			contentType: 'application/json; charset=utf-8',
			beforeSend: function(xhr){
				xhr.setRequestHeader("X-Http-Method-Override","put");
			},
			success: function (data, textStatus, xhr) {
				$('#tReturn').text(JSON.stringify(data, null, "\t"));
				$("#sRC").text(xhr.status);
			},
			error:function (xhr, ajaxOptions, thrownError){
				$("#sRC").text(xhr.status); 
			}
		});
		break;
	}
  //  $.post($("#tUrl").val(), { _method: 'delete' }, null, "script");
    return false;
  });
});
</script>